.details-row-table {
  display: table-row;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.details-table-container {
  display: table;
  width: 100%;
  border-spacing: 0 15px;
}

.button-hidden {
  opacity: 0;
  pointer-events: none;

}

.details-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: rem(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  margin-bottom: rem(13px);
  padding: rem(33px 25px);

  @media screen and (max-width: 576px) {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  @media screen and (min-width: 577px) and (max-width: 992px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__name {
    display: flex;
    align-items: flex-start;

    h2 {
      width: 130px;
    }
  }

  &__info {
    display: table-cell;
    padding: 50px;

    div {
      display: flex;
      flex-direction: column;
    }

    div > span {
      @media screen and (max-width: 992px) {
        min-width: 80px;
      }
    }
  }

  &__left-section {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-wrap: nowrap;
    gap: rem(10px);
  }

  &__right-section {
    grid-area: 1 / 3 / 2 / 4;
    display: table-cell;
    text-align: center;

    .light-grey-bg {
      background-color: color('grey-080');
      justify-content: center;
    }

    span {
      margin-bottom: rem(10px);
      letter-spacing: rem(1px);
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}

.icons {
  &__icon-visible-password {
    object-fit: contain;
  }
}