.details-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: rem(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  margin-bottom: rem(13px);
  padding: rem(33px 25px);

  &__name {
    display: flex;
    align-items: flex-start;
  }

  &__info {
    grid-area: 1 / 2 / 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: rem(10px);

    div {
      display: flex;
      flex-direction: column;
    }
  }

  &__left-section {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    gap: rem(10px);
  }

  &__right-section {
    grid-area: 1 / 3 / 2 / 4;
    .light-grey-bg {
      background-color: color('grey-080');
    }

    span {
      margin-bottom: rem(19px);
      letter-spacing: rem(1px);
    }

    & > div {
      display: grid;
      grid-row-gap: rem(24px);
      grid-template-columns: 1fr 0.5fr 0.5fr;
      align-items: center;
    }
  }
}
