.details-table-container {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px;
}

.details-row-table {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

}

.details-row__info {
  padding: 50px;
  box-sizing: border-box;
}

.button-icon {
  padding: 0 !important;
}

.content-info {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.icons {
  &__icon-visible-password {
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .details-row__info {
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .content-info {
    width: 100%;
    box-sizing: border-box;
  }

  .details-row-table, .details-row__info, .details-row__right, .details-row-icon {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .details-row-table:last-child,
  .details-row__info:last-child,
  .details-row__right:last-child,
  .details-row-icon:last-child {
    margin-bottom: 0;
  }


  .hidden {
    display: none;
  }
}
