.custom-accordion {
    span {
        color: #5C6F82;
    }
}

.results {
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #0066CC;
}

.statisticheValue {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: white;
    width: 32px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    padding-left: 15px;
    position: relative;
    top: -2px; // Adjust this value as needed to move it upwards
}

.statisticheDescrizione {
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
    position: relative;
    top: -2px; // Adjust this value as needed to move it upwards
}

.square {
    width: 275px;
    height: 80px;
    padding: 20px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px; // All four corners rounded
    opacity: 0px;
    background: #435A70;
}

.square-container {
    display: flex;
    justify-content: space-between;
    width: Fixed (1, 184px)px;
    height: Hug (80px)px;
    top: 1167px;
    left: 50px;
    gap: 30px;
    opacity: 0px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.chipsRow {
    row-gap: 10px;

    .chip {
        border: 1px solid #dfe4f2 !important;

        .icon {
            fill: #5C6F81;
        }
    }
}

.autocomplete__option {
    color: #06c;
    cursor: pointer;
}

.table-compact {
    font-family: Titillium Web;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;

    td {
        padding: 20px 10px;
        vertical-align: middle;
    }

    thead th {
        vertical-align: middle;
    }
    span#enteColumn,
    span#progettoColumn,
    span#programmaColumn {
        width: 40px;
        word-break: break-word;
    }

    span#dataColumn {
        color: #0073e5;
        white-space: nowrap;
    }

    span#cittadiniColumn,
    span#serviziColumn {
        width: 5px;
        word-break: break-word;
    }
}

input#dateInputDataInizio,
input#dateInputDataFine {
    border-bottom: 1px solid #5A6772;
    color: #0066CC !important;
}

.dateInputDataInizio--isNotValid::-webkit-datetime-edit,
.dateInputDataFine--isNotValid::-webkit-datetime-edit {
    color: red !important; 
}

#search-icon {
    border-bottom: 1px solid #0073e5 !important;
    margin-top: 13px;
    margin-left: 0px;
    padding-left: 0px;
}

#ente {
    margin-right: 0px;
    padding-right: 0px;
}

input[id^="react-select-"] {
    box-shadow: none !important;
    opacity: 1 !important;
}

.form-check [type=checkbox]:focus+label, .form-check [type=radio]:focus+label, .toggles label input[type=checkbox]:focus+.lever, :focus:not(.focus--mouse):not([data-focus-mouse=true]) {
    box-shadow: none !important;
    opacity: 1 !important;
}

.chipRemove {
    position: relative;
    pointer-events: none;
    display: inline-block;
    padding: 0px 0px;
}

.chipRemove .clickable-area {
    pointer-events: auto;
    cursor: pointer !important;

    :hover {
        background-color: transparent !important;
    }

}

.chip:hover:not(.chip-disabled) {
    fill: #06c !important;
    background-color: #fcfdff;
}

.chip-label {
    color: #5C6F81;
}

.chip:hover:not(.chip-disabled) .chip-label {
    color: #5C6F81;
}

.chip:hover:not(.chip-disabled) button .icon,
.chip:hover:not(.chip-disabled)>.icon {
    fill: #5C6F81
}


.bootstrap-select {
    &__single-value {
        color: #5A6772 !important;
        font-weight: 600 !important;

        &--is-disabled {
          color: #5A6772 !important;
        }
      }
}

.bootstrap-select__control {
    border-bottom: 1px solid #5A6772 !important;
}

.dateInputDataFineDescription {
    color: red !important;
}

.customArrowSelect {
    position: relative;
    /* Per consentire al ::after di posizionarsi rispetto al contenitore */
}

.customArrowSelect::after {
    content: '';
    background-image: url('../../../../public/assets/img/it-expand-primary.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    /* Regola la dimensione secondo necessità */
    height: 30px;
    /* Regola la dimensione secondo necessità */
    position: absolute;
    right: 10px;
    /* Regola la distanza dal bordo destro */
    top: 50%;
    transform: translateY(-50%);
    /* Per centrare verticalmente */
    pointer-events: none;
    fill: #0066CC;
}

.collapse-header {
    display: inline !important;

    button::before {
        line-height: 2rem !important;
    }
}

.collapse-body{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

// .collapsed::before{
//     line-height: 2rem !important;
// }

.custom-accordion {
    span {
        font-size: 24px;
        font-weight: 600px;
    }

}

#dateInputDataFineDescription {
    color: red !important;
}

.clearAllChips{
    color: #0066CC !important;
    text-decoration: underline !important;
}

.customCrossSelect {
    position: relative;
    /* Per consentire al ::after di posizionarsi rispetto al contenitore */
}

.customCrossSelect::after {
    content: '';
    background-image: url('../../../../public/assets/img/it-close.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #0066CC;
}

.clickable-cross-area {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.bootstrap-select__control--is-focused{
    .bootstrap-select__placeholder.css-zsohrp-placeholder {
        opacity: 0;
    }
}
