.custom-accordion {
    span {
        color: #5C6F82;
    }
}

.results {
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #0066CC;
}

.statisticheValue {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: white;
    width: 32px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    padding-left: 15px;
    position: relative;
    top: -2px; // Adjust this value as needed to move it upwards
}

.statisticheDescrizione {
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
    position: relative;
    top: -2px; // Adjust this value as needed to move it upwards
}

.square {
    width: 275px;
    height: 80px;
    padding: 20px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px; // All four corners rounded
    opacity: 0px;
    background: #435A70;
}

.square-container {
    display: flex;
    justify-content: space-between;
    width: Fixed (1, 184px)px;
    height: Hug (80px)px;
    top: 1167px;
    left: 50px;
    gap: 30px;
    opacity: 0px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.chipsRow {
    row-gap: 10px;

    .chip {
        border: 1px solid #dfe4f2 !important;
        .icon{
            fill:#5C6F81;
        }
    }
}

.autocomplete__option {
    color: #06c;
    cursor: pointer;
}

.table-compact {
    font-family: Titillium Web;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;

    td {
        padding: 20px 10px;
    }

    span#enteColumn,
    span#progettoColumn,
    span#programmaColumn {
        width: 40px;
        word-break: break-word;
    }

    span#dataColumn {
        color: #0073e5;
        white-space: nowrap;
    }

    span#cittadiniColumn,
    span#serviziColumn {
        width: 5px;
        word-break: break-word;
    }
}

input#dateInputDataInizio,
input#dateInputDataFine {
    border-bottom: 1px solid #0073e5;
    color: #0066CC !important;
}

#search-icon {
    border-bottom: 1px solid #0073e5 !important;
    margin-top: 13px;
    margin-left: 0px;
    padding-left: 0px;
}

#ente {
    margin-right: 0px;
    padding-right: 0px;
}

#react-select-2-input {
    box-shadow: none !important;
    opacity: 1 !important;
}

.chipRemove {
    position: relative;
    pointer-events: none;
    display: inline-block;
    padding: 0px 0px;
}

.chipRemove .clickable-area {
    pointer-events: auto;
    cursor: pointer !important;
    :hover{
        background-color: transparent !important;
    }
    
}

.chip:hover:not(.chip-disabled){
    fill: #06c !important;
    background-color: #fcfdff;
}

.chip-label{
    color: #5C6F81 !important;
}

.chip:hover:not(.chip-disabled) button .icon, .chip:hover:not(.chip-disabled)>.icon{
    fill: #5C6F81
}

.bootstrap-select {
    &__single-value {
        color: #0066CC !important;
        font-weight: 600 !important;
    
        &--is-disabled {
          color: #0066CC !important;
        }
      }
}