.slider {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0 10px;
  .slides {
    min-width: 100%;
    display: flex; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .slide {
      flex-shrink: 0;
      width: 100%;
      scroll-snap-align: start;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    
  }

  .arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #0066cc;
    color: #fff;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    &.right-alignment {
      top: 42%;
    }
    &.align-slider-arrow {
      top: 38%;
    }
  }

  button {
    display: inline-flex;
    width: 10px;
    height: 10px;
    background: #0066cc;
    opacity: 0.3;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.5rem 28px 0.5rem 0;
    position: relative;
    outline: 0;
    border: none;
    &:active {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
    }
  }
}

