{
  "BE_HOST": "",
  "BE_GET_ALL_GROUPS_ENDPOINT": "/test/gruppo/all",
  "BE_GET_ALL_USER_ENDPOINT": "/test/utente/all",
  "AUTHENTICATION_TOKEN": "",
  "ALLOWED_BODY_TYPES": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "BE_USER_ROLE": "DTD",
  "BE_CONTENT_TYPE": "application/json",
  "NOTIFICATION_GROUP": "",
  "USER_ROLE_FOR_NOTIFICATION": "Notify",


  "ALLOWED_FILE_TYPE": ["image", "file"],
  "IMAGE_ALLOWED_EXTENSIONS": ["jpg", "jpeg", "png"],
  "FILE_ALLOWED_EXTENSIONS": ["txt", "rtf", "odt", "zip", "exe", "docx", "doc", "ppt", "pptx", "pdf", "jpg", "png", "gif", "xls", "xlsx", "csv", "mpg", "wmv"],
  "ALLOWED_ROUTE_ROLES": {
    "view.board_items.rest_export_1": ["create_item"],
    "view.board_item.rest_export_1": ["create_item"],
    "view.community_items.rest_export_1": ["create_item"],
    "view.commy_item_view.rest_export_1": ["create_item"],
    "view.document_items.rest_export_1": ["create_item"],
    "view.document_item_view.rest_export_1": ["create_item"],
    "view.comments_view.rest_export_1": ["create_item"],
    "view.reports.rest_export_1": ["create_item"],
    "view.user_items.rest_export_1": ["create_item"],
    "view.categorie.rest_export_1": ["create_item"],
    "view.tags_retrieve.rest_export_1": ["create_item"],
    "view.search_items.rest_export_1": ["create_item"],
    "view.user_notifications.rest_export_1": ["create_item"],

    "rest.board_item_create.POST": ["create_item"],
    "rest.board_item_update.POST": ["create_item"],
    "rest.community_item_create.POST": ["create_item"],
    "rest.community_item_update.POST": ["create_item"],
    "rest.document_item_create.POST": ["create_item"],
    "rest.document_item_update.POST": ["create_item"],
    "rest.category_create.POST": ["create_item"],
    "rest.category_update.POST": ["create_item"],
    "rest.category_delete.POST": ["create_item"],
    "rest.comment_create.POST": ["create_item"],
    "rest.comment_delete.POST": ["create_item"],
    "rest.comment_update.POST": ["create_item"],
    "rest.reply_create.POST": ["create_item"],
    "rest.item_delete.POST": ["create_item"],
    "rest.comment_report_create.POST": ["create_item"],
    "rest.item_report_create.POST": ["create_item"],
    "rest.report_delete.POST": ["create_item"],
    "rest.like_resource_api.POST": ["create_item"],
    "rest.like_comment_api.POST": ["create_item"],
    "rest.unlike_resource_api.POST": ["create_item"],
    "rest.unlike_comment_api.POST": ["create_item"],
    "rest.downloaded_resource_api.POST": ["create_item"],
    "rest.view_resource_api.POST": ["create_item"],
    "rest.file_upload.POST": ["create_item"],
    "rest.notification_read.POST": ["create_item"],
    "rest.notification_delete.POST": ["create_item"]
  },
  "CHECK_PATH_PARAMETER_ROUTE": [
    "view.user_items.rest_export_1",
    "view.user_notifications.rest_export_1",
    "view.board_item.rest_export_1",
    "view.commy_item_view.rest_export_1",
    "view.document_item_view.rest_export_1",
    "view.comments_view.rest_export_1"
  ],
  "FLAG_ID_TO_VIEW_ID": {
    "like": "like",
    "download": "download",
    "view": "view",
    "like_comment": "like_comment"
  },

  "ALTERNATIVE_CATEGORY": "Altro",
  "ALLOWED_CATEGORIES": [
    "board_categories",
    "community_categories",
    "document_categories"
  ]
}
