{
  "BE_HOST": "https://backend.facilitazione-test.mitd.technology:8080",
  "BE_GET_ALL_GROUPS_ENDPOINT": "/dev/gruppo/all",
  "BE_GET_ALL_USER_ENDPOINT": "/dev/utente/all",
  "AUTHENTICATION_TOKEN": "",
  "ALLOWED_BODY_TYPES": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "BE_USER_ROLE": "DTD",
  "BE_CONTENT_TYPE": "application/json",
  "NOTIFICATION_GROUP": "GEST.SGN",
  "USER_GROUP_FOR_NOTIFICATION": "GEST.SGN",

  "ALLOWED_FILE_TYPE": ["image", "file"],
  "IMAGE_ALLOWED_EXTENSIONS": ["jpg", "jpeg", "png"],
  "FILE_ALLOWED_EXTENSIONS": ["txt", "rtf", "odt", "zip", "exe", "docx", "doc", "ppt", "pptx", "pdf", "jpg", "png", "gif", "xls", "xlsx", "csv", "mpg", "wmv"],
  "ALLOWED_ROUTE_ROLES": {

    "view.board_items.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "view.board_item.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "view.community_items.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "view.commy_item_view.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "view.document_items.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "view.document_item_view.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "view.comments_view.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "view.reports.rest_export_1": ["DTD", "MOD"],

    "view.user_items.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "view.categorie.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "view.tags_retrieve.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "view.search_tags.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "view.search_items.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "view.user_notifications.rest_export_1": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "rest.board_item_create.POST": ["DTD", "REG", "DEG", "REGP", "DEGP"],
    "rest.board_item_update.POST": ["DTD", "REG", "DEG", "REGP", "DEGP"],
    "rest.community_item_create.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "VOL"],
    "rest.community_item_update.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "VOL"],
    "rest.document_item_create.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "VOL"],
    "rest.document_item_update.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "VOL"],

    "rest.category_create.POST": ["DTD", "MOD"],
    "rest.category_update.POST": ["DTD", "MOD"],
    "rest.category_delete.POST": ["DTD", "MOD"],

    "rest.comment_create.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.comment_delete.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.comment_update.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.reply_create.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "rest.item_delete.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "rest.comment_report_create.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.item_report_create.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.report_delete.POST": ["DTD", "MOD"],

    "rest.like_resource_api.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.like_comment_api.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.unlike_resource_api.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.unlike_comment_api.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.downloaded_resource_api.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.view_resource_api.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "rest.file_upload.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "rest.notification_read.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.notification_delete.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.action_tracking.POST": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],

    "rest.board_filters.GET": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.community_filters.GET": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"],
    "rest.document_filters.GET": ["DTD", "DSCU", "REG", "DEG", "REGP", "DEGP", "REPP", "DEPP", "FAC", "MOD", "VOL"]
  },
  "ALLOWED_METHOD_ROLES": {
    "board_item_modify_any": ["DTD", "MOD"],
    "community_item_modify_any": ["DTD", "MOD"],
    "document_item_modify_any": ["DTD", "MOD"],
    "item_delete_any": ["DTD", "MOD"],

    "file_upload_any": ["DTD", "MOD"],

    "comment_update_any": ["DTD", "MOD"],
    "comment_delete_any": ["DTD", "MOD"]
  },
  "CHECK_PATH_PARAMETER_ROUTE": [
    "view.user_items.rest_export_1",
    "view.user_notifications.rest_export_1",
    "view.board_item.rest_export_1",
    "view.commy_item_view.rest_export_1",
    "view.document_item_view.rest_export_1",
    "view.comments_view.rest_export_1"
  ],
  "FLAG_ID_TO_VIEW_ID": {
    "like": "like",
    "download": "download",
    "view": "view",
    "like_comment": "like_comment"
  },

  "ALTERNATIVE_CATEGORY": "Altro",
  "ALLOWED_CATEGORIES": [
    "board_categories",
    "community_categories",
    "document_categories"
  ]
}
