/* commons */
@import 'bootstrap-italia/dist/css/bootstrap-italia.min.css';
@import 'common/global';
@import 'common/components';
@import 'common/pages';

.main-container {
  overflow-x: hidden;
  height: 100%;

  &__content-container {
    min-height: calc(100vh - $header-height - $footer-height);
    margin: 0 auto;
    width: 100%;
  }
}

p {
  margin: 0;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 rem(12px);
    max-width: 100%;
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  //-webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-background-clip: text !important;
}

.border-focus-orange-none:focus:not(.focus--mouse):not([data-focus-mouse=true]) {
  outline: none!important;
  box-shadow: none!important;
}

.anchor-reset {
  color: inherit !important;
  text-decoration: none !important;
}
