.form {
  input:active {
    border-bottom: 2px solid color('progress-bar-line');
  }
  .form-group {
    label {
      z-index: unset;
      padding-left: 2;
    }
  }
  button {
    min-width: 186px;
  }
}

.form-control {
  &:disabled {
    border-bottom: 1px solid color('grey-input') !important;
    background: color('grey-150');
  }
  &[type='text']:disabled,
  &[type='date']:disabled {
    border-bottom: 1px solid color('grey-input') !important;
  }

  &[type='text'],
  &[type='date'] {
    border-bottom: 1px solid color('grey-input');
  }
  &[type='text'][value]:not([value='']),
  &[type='date'][value]:not([value='']) {
    border-bottom: 2px solid color('progress-bar-line');
  }
  &[type='text']:focus,
  &[type='date']:focus {
    border-bottom: 1px solid color('progress-bar-line');
  }

  &.is-valid {
    border-bottom: 2px solid color('progress-bar-line');
  }

  &.is-invalid {
    border-bottom: 2px solid color('danger');
  }
}

.border-select-value {
  .bootstrap-select {
    &__control {
      border-bottom: 2px solid color('progress-bar-line') !important;
    }
  }
}

.bootstrap-select {
  &__menu {
    margin-top: 0 !important;
  }
  &__control:focus {
    border-bottom: 1px solid color('progress-bar-line') !important;
  }
  &__control {
    border-bottom: 1px solid color('grey-input') !important;

    &--menu-is-open {
      border-bottom: 2px solid color('progress-bar-line') !important;
    }
    &--is-focused {
      border-color: color('accessibility-orange') !important;
      box-shadow: 0 0 0 2px color('accessibility-orange') !important;
      outline: 0 !important;
    }
    &--is-disabled {
      border-bottom: 1px solid color('grey-input') !important;
      background: color('grey-150') !important;
    }
  }
  &__single-value {
    &--is-disabled {
      color: #17324d !important;
    }
  }
}

.form-service-dynamic {
  &__control {
    &--is-disabled {
      border-bottom: 1px solid color('grey-input') !important;
      background: color('grey-150') !important;
    }
  }
  &__multi-value {
    margin: 2px 2px 14px !important;
    &--is-disabled {
      border: 1px outset color('grey-150') !important;
      background: color('grey-150') !important;
    }
  }
}

.multiple-select {
  &__control {
    &--is-disabled {
      border-bottom: 1px solid color('grey-input') !important;
      background: color('grey-150') !important;
    }
  }
  &__multi-value {
    &__label {
      background: color('grey-150') !important;
      border: 1px outset color('grey-150') !important;
    }
    &__remove {
      background: color('grey-150') !important;
    }
  }
}

.radio-btn-container {
  min-height: 22px;
  min-width: 22px;
}

.form-check [type='radio'] {
  left: unset;
  top: unset;
  height: 100%;
  width: 100%;
}

.form-check [type='checkbox']:checked + label::after {
  border-color: color('progress-bar-line');
  background-color: color('progress-bar-line');
}

.form-check [type='radio']:checked + label::after {
  border-color: color('progress-bar-line');
  background-color: color('progress-bar-line');
}

.form-check [type='radio']:disabled:checked + label::after {
  border-color: #d1d6db;
  background-color: #d1d6db;
}

.toggles label input[type='checkbox']:checked + .lever:after {
  background-color: color('progress-bar-line');
}

.toggles label input[type='checkbox'][disabled] + .lever:after {
  background-color: color('grey-150');
}

.rating-label {
  font-size: 14px;
  font-weight: 600;
}
