input {
  &[type='text'],
  &[type='date'],
  &[type='number'],
  &[type='time'],
  &[type='password'],
  &[type='file'],
  &[type='url'] {
    color: color('dark-blue') !important;
    font-weight: 600 !important;
  }
}

textarea {
  color: color('dark-blue') !important;
  font-weight: 600 !important;
}

.form {
  input:focus {
    border-bottom: 2px solid color('progress-bar-line');
  }

  .form-group {
    label {
      z-index: unset;
      padding-left: 2;
    }
  }

  button {
    min-width: 186px;
  }
}

input > span {
  .password-icon {
    margin-right: 24px;
    padding: 0;
  }
}

.form-control {
  &:disabled {
    border-bottom: 1px solid color('grey-input') !important;
    background: color('grey-150');
  }

  &[type='password'] {
    width: 95%;
  }

  &[type='text']:disabled,
  &[type='date']:disabled,
  &[type='number']:disabled {
    border-bottom: 1px solid color('grey-input') !important;
  }

  &[type='text'][value=''],
  &[type='date'][value=''],
  &[type='number'][value=''],
  &[type='time'][value='00:00'],
  &[type='file'][value=''],
  &[type='url'][value=''] {
    border-bottom: 1px solid color('progress-bar-line');
  }

  &[type='text'][value]:not([value='']),
  &[type='date'][value]:not([value='']),
  &[type='number'][value]:not([value='']),
  &[type='time'][value]:not([value='00:00']),
  &[type='file'][value]:not([value='']),
  &[type='url'][value]:not([value='']) {
    border-bottom: 2px solid color('progress-bar-line');
  }

  &.is-valid {
    border-bottom: 2px solid color('progress-bar-line');
  }

  &.is-invalid {
    border-bottom: 1px solid color('danger') !important;
  }

  &.is-invalid:focus {
    border-bottom: 2px solid color('danger');
  }
}

.border-select-value {
  .bootstrap-select {
    &__control {
      border-bottom: 2px solid color('progress-bar-line') !important;
    }

    &__control:focus {
      border-bottom: 2px solid color('progress-bar-line') !important;
    }
  }
}

.bootstrap-select__placeholder.css-zsohrp-placeholder {
  color: #606060 !important;
}

.bootstrap-select {
  &__menu {
    margin-top: 0 !important;
    z-index: 1050 !important;
  }

  &-value {
    border-bottom: 2px solid color('progress-bar-line') !important;
  }

  &__control {
    border-bottom: 1px solid color('progress-bar-line') !important;

    &--menu-is-open {
      border-bottom: 2px solid color('progress-bar-line') !important;
    }

    &--is-focused {
      border-color: color('accessibility-orange') !important;
      box-shadow: 0 0 0 2px color('accessibility-orange') !important;
      outline: 0 !important;
    }

    &--is-disabled {
      border-bottom: 1px solid color('grey-input') !important;
      background: color('grey-150') !important;
    }
  }

  &__single-value {
    color: color('dark-blue') !important;
    font-weight: 600 !important;

    &--is-disabled {
      color: color('dark-blue') !important;
    }
  }
}

.bootstrap-select-short {
  &__menu {
    margin-top: 0 !important;
    max-height: 160px;
    overflow: scroll;
  }

  &-value {
    border-bottom: 2px solid color('progress-bar-line') !important;
  }

  &__control {
    border-bottom: 1px solid color('progress-bar-line') !important;

    &--menu-is-open {
      border-bottom: 2px solid color('progress-bar-line') !important;
    }

    &--is-focused {
      border-color: color('accessibility-orange') !important;
      box-shadow: 0 0 0 2px color('accessibility-orange') !important;
      outline: 0 !important;
    }

    &--is-disabled {
      border-bottom: 1px solid color('grey-input') !important;
      background: color('grey-150') !important;
    }
  }

  &__single-value {
    color: color('dark-blue') !important;
    font-weight: 600 !important;

    &--is-disabled {
      color: color('dark-blue') !important;
    }
  }
}

.form-service-dynamic {
  &__control {
    &--is-disabled {
      border-bottom: 1px solid color('grey-input') !important;
      background: color('grey-150') !important;
    }
  }

  &__multi-value {
    margin: 2px 2px 14px !important;

    &--is-disabled {
      border: 1px outset color('grey-150') !important;
      background: color('grey-150') !important;
    }
  }
}

.multiple-select {
  font-weight: 600;

  &__control {
    &--is-disabled {
      border-bottom: 1px solid color('grey-input') !important;
      background: color('grey-150') !important;
    }
  }

  &__multi-value {
    &__label {
      background: color('grey-150') !important;
      border: 1px outset color('grey-150') !important;
    }

    &__remove {
      background: color('grey-150') !important;
    }
  }
}

.radio-btn-container {
  min-height: 22px;
  min-width: 22px;
}

.form-check [type='radio'] {
  left: unset;
  top: unset;
  height: 100%;
  width: 100%;
}

.form-check [type='checkbox']:checked + label::after {
  border-color: color('progress-bar-line');
  background-color: color('progress-bar-line');
}

.form-check [type='radio']:checked + label::after {
  border-color: color('progress-bar-line');
  background-color: color('progress-bar-line');
}

.form-check [type='radio']:disabled:checked + label::after {
  border-color: #d1d6db;
  background-color: #d1d6db;
}

.form-check [type=checkbox]:disabled:not(:checked) + label::after {
  background-color: #e6e9f2;
}

.toggles label input[type='checkbox']:checked + .lever:after {
  background-color: color('progress-bar-line');
}

.toggles label input[type='checkbox'][disabled] + .lever:after {
  background-color: color('grey-150');
}

.rating-label {
  font-size: 14px;
  font-weight: 600;
}

/*
.duration-input {
  border-bottom: 1px solid color('grey-input');
  margin-bottom: 3rem;

  .form-group, .pr-lg-3 {
    margin: 0 !important;
    padding: 0 !important;

    input {
      border: none !important;
      padding: 0.375rem 0.5rem !important;
      width: unset;
    }
  }
}
*/

.duration-input {
  padding-left: 0px !important;

  input {
    padding-left: 9px !important;
  }
}

.select-multiple-checkbox {
  &__options {
    background-color: rgba($color: #e8f2fc, $alpha: 0.5);
    border: 1px solid #d6dce3;
    border-radius: 10px;
    margin-bottom: 16px;
  }

  &__box-field {
    border: 1px solid #001a33;
    border-radius: 5px;

    &__box-title {
      padding: 16px 20px 0px 16px;
      font-size: 16px;
    }

    &__box-content {
      padding: 0px 16px 16px 16px;

      .form-group {
        margin-bottom: 0;

        label {
          overflow: visible;
          text-overflow: wrap;
          white-space: break-spaces;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .collapse-body {
    padding-top: 50px !important;
    padding-bottom: 0px !important;

    .form-row {
      margin-bottom: 0px !important;

      .first-input-target {
        margin-bottom: 3rem !important;
      }

      label.active {
        height: 50px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .collapse-body {
    padding-bottom: 0px !important;

    .form-row {
      margin-bottom: 10px !important;

      .form-group {
        margin-bottom: 24px !important;
      }

      label.active {
        height: 50px;
      }

      .first_input_target {
        margin-bottom: 20px !important;
      }
    }
  }
}


.public-DraftEditor-content {
  color: color('dark-blue') !important;
  font-weight: 400 !important;
}

.mandatory-fields {
  font-size: 14px;
  color: #435a70;
}

.safari-field-color {
  input {
    -webkit-text-fill-color: #17324d;
    opacity: 1; /* required on iOS */
  }
}

.deleteArrowInSelect .bootstrap-select__indicators {
  display: none;
}