.avatar-initials-container {
  &__circle-width {
    &__big {
      width: 65px !important;
      height: 65px !important;
    }
    &__small {
      width: 35px !important;
      height: 35px !important;
    }
  }
}
.initials {
  &__font-small {
    font-size: 15px;
  }
  &__font-big {
    font-size: 32px;
  }
}
