.input-box {
  width: 10vw;
  height: 10vw;
  max-width: 82px;
  max-height: 82px;
  border: 2px solid #797c80;
  border-radius: 5px;
  font-weight: 600;
  font-size: 32px;
  text-align: center;

  &.__error {
    border-color: #d1344c;
  }
}
