.buttons-bar {
  display: flex;
  justify-content: flex-end;
  padding: rem(22px 0);
  background: white;
  flex-wrap: wrap;
  gap: rem(15px);

  
  
  @media (max-width: 764px) {
    justify-content: space-between;
  }
  @media (min-width: 320px) {
    justify-content: flex-end;
  }
  
}
