.table-compact-cmin {
    table-layout: auto;
    width: 100%; 
    color: #162236;
}

.table-compact-cmin th{
    white-space: nowrap;
    text-align: left; 
}
.table-compact-cmin td {
    text-align: left; 
}

.table-compact-cmin th {
    font-size: 15px;
    font-weight: bold;
}

.table-compact-cmin td {
    font-weight: 600;
}

.table-compact-cmin th .sort-icon {
    cursor: pointer;
  }