.print-fields-container {
  &__half-width {
    width: 48%;
  }
  &__text-field {
    border-bottom: 1px solid #797c80;
  }
  &__checkbox-field {
    .form-group {
      margin-bottom: 0;
    }
  }
  &__box-field {
    border: 1px solid #001a33;
    border-radius: 5px;
    &__box-title {
      padding: 16px 20px;
      border-bottom: 0.5px solid #001a33;
    }
    &__box-content {
      padding: 16px 14px;
      .form-group {
        margin-bottom: 0;
        label {
          overflow: visible;
          text-overflow: wrap;
          white-space: break-spaces;
        }
      }
    }
  }
}
