.tab-group-container {
  ul {
    background-color: #ffffff;
    list-style: none;
    width: 80%;
    margin-left: 95px;

    li {
      width: 190px;
      text-transform: capitalize;
      position: relative;

      a {
        text-decoration: none;
      }

      h6 {
        margin: 8px 0;
      }
    }

    li:not(:last-child)::after {
      content: '';
      height: 17px;
      width: 2px;
      background: #dddddd;
      position: absolute;
      border-radius: 2px;
      right: 0;
      top: 30%;
    }
  }

  &__tab-bar {
    height: 4px;
  }

  &__tabs-border {
    border-color: 'neutral-1-bg-a1';
  }
}

.nav-tabs .nav-link:focus {
  border-bottom: 4px solid #0066cc;
}
