.title-border-box {
  opacity: 0.3;
  border: 0.5px solid #455b71;
}
@media screen and (max-width: 767px) {
  .align-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.responsive-width {
  width: 70%;
  @media screen and (min-width: 674px) and (max-width: 767px) {
    width: 60% !important;
  }
}
