.section-info-card {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: value-system-textFadeIn 0.2s linear;
  p {
    min-width: 200px !important;
  }

  .section-info-list {
    display: flex;
    flex-wrap: wrap;
    ul {
      list-style: none;
      li {
        min-width: 200px;
        max-width: 50%;
        padding: 0 20px 0 20px;

        @media screen and (max-width: 990px) {
          width: 100%;
          min-width: unset;
          max-width: unset;
        }
      }
    }
    ul li::before {
      content: '•';
      font-family: sans-serif;
      font-size: 20pt;
      color: #0066cc;
      font-weight: bolder;
      display: inline-block;
      width: 0.5em;
      margin-left: -1em;
    }
  }

  &__maxWidthCard {
    max-width: rem(376px);
  }

  &__line {
    margin: 0;
    width: 90%;
  }

  &__last-comment {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }

  &__picture-comment {
    width: 32px;
    height: 32px;
  }

  &__white-card {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__dots {
    background-color: #0066cc;
    vertical-align: middle;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    display: inline-block;
  }

  &__maxLinesTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
  }

  &__maxLinesParagraph {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .close-button {
    position: absolute;
    right: -15px;
    top: -20px;

    @media screen and (max-width: 576px) {
      .close-button {
        right: 0;
        top: -12px;
      }
    }
  }
}

@keyframes value-system-textFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
