.notifications_nav {
  right: 0;
  max-width: 35px;
  position: relative;

  .button-close-nav {
    position: absolute;
    right: 0;
  }

  .close_nav {
    cursor: pointer;
    background-color: white;
    transition: all 0.5s;
  }

  .notificationsNav {
    list-style: none;
    background: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30rem;
    height: 100vh;
    z-index: 100;
    transform: translateX(100%);
    transition: all 0.75s;
    position: fixed;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .badge-notifications {
    display: flex;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #B62032;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    margin-left: 5px;
  }

  .notificationsNav.showNotifications {
    transform: translateX(0%);
  }

}

