.border-bottom-box {
  border-bottom: 1px solid #0073e5;
}

.btn-topic-modal, .btn-news-modal, .btn-document-modal {
  min-width: 176px !important;
  @media screen and (max-width: 576px) {
    min-width: 156px !important;
  }
}

.forum-chip-tag {
  border: 2px solid #797C80 !important;
  &:hover {
    .chip-label {
      color: #5c6f82 !important;
    }
    .chip-closer {
      fill: #5c6f82 !important;
    }
    background-color: #FCFDFF !important;
  }
}