.label-text-editor {
  font-size: 0.7777777778rem;
  line-height: calc(2.5rem - 1px);
  padding: 0 0.5rem;
}
.border-bottom-box {
  border-bottom: 1px solid #0073e5;
}
.btn-news-modal, .btn-topic-modal, .btn-document-modal {
  @media screen and (max-width: 576px) {
    min-width: 140px !important;
  }
}