---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ${K8S_NAMESPACE}
  name: ms-notifiche-integration-deployment
spec:
  selector:
    matchLabels:
        app.kubernetes.io/name: ms-notifiche-integration
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ms-notifiche-integration
    spec:
      containers:
        - name: ms-notifiche-integration
          image: ${ECR_REPOSITORY}:${IMAGE_TAG}
          ports:
            - containerPort: 8080
          imagePullPolicy: Always
          env:
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: urlDB
            - name: DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: usernameDB
            - name: DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: passwordDB
            - name: awsAppId
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsAppId
            - name: awsPinpointAccessKey
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsPinpointAccessKey
            - name: awsPinpointSecretKey
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsPinpointSecretKey
            - name: MONGODB_HOST
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: MONGODB_HOST
            - name: MONGODB_NAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: MONGODB_NAME
            - name: MONGODB_PORT
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: MONGODB_PORT
            - name: DB_MONGO_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: DB_MONGO_USERNAME
            - name: DB_MONGO_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: DB_MONGO_PASSWORD
            - name: awsEmailMittente
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsEmailMittente
            - name: awsS3UtenteAccessKey
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsS3UtenteAccessKey
            - name: awsS3UtenteBucketName
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsS3UtenteBucketName
            - name: awsS3UtenteSecretKey
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsS3UtenteSecretKey
            - name: AWS.WORKDOCS.ACCESS-KEY
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsWorkdocsAccessKey
            - name: AWS.WORKDOCS.SECRET-KEY
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsWorkdocsSecretKey
            - name: AWS.WORKDOCS.ORGANIZATION-ID
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsWorkdocsOrganizationId
            - name: ROCKET-CHAT.HOST
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: rocketChatHost
            - name: ROCKET-CHAT.BASE-URI
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: rocketChatBaseUri
            - name: ROCKET-CHAT.CLIENT.ACCESS-TOKEN
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: rocketChatClientAccessToken
            - name: ROCKET-CHAT.CLIENT.USER-ID
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: rocketChatClientUserId
            - name: DRUPAL.ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: drupalEndpoint
            - name: DRUPAL.AUTH.USERNAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: drupalAuthUsername
            - name: DRUPAL.AUTH.PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: drupalAuthPassword
            - name: ZENDESK_URL
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: ZENDESK_URL
            - name: ZENDESK_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: ZENDESK_USERNAME
            - name: ZENDESK_TOKEN
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: ZENDESK_TOKEN
---
apiVersion: v1
kind: Service
metadata:
  namespace: ${K8S_NAMESPACE}
  name: service-ingress-ms-notifiche-integration-${K8S_NAMESPACE}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-scheme: internal
    external-dns.alpha.kubernetes.io/hostname: notificheintegration.backend-${K8S_NAMESPACE}.mitd.technology
    service.beta.kubernetes.io/aws-load-balancer-name: nlb-ms-notifiche-integ-${K8S_NAMESPACE}
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    name: http
    targetPort: 8080
  selector:
    app.kubernetes.io/name: ms-notifiche-integration
