.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: auto;
  margin-right: auto;
}
.table-responsive > .table {
  margin-bottom: 0;
  border-collapse: collapse;
}
.td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:first-child td {
  border-top: 1px solid #ddd;
}