.card-status-action {
  border-radius: rem(10px);
  box-shadow: rem(0px) rem(0px) rem(40px) rgba(0, 43, 85, 0.1);
  padding: 0 rem(24px);

  &__status-button {
    border-radius: rem(5px);
    max-width: rem(112px);
    max-height: rem(24px);
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-crud {
    @media screen and (max-width: 1200px) {
      right: 0;
      top: 0;
    }
  }

  .section-chip {
    min-width: rem(112px);
  }
  .weight-600 {
    font-weight: 600;
  }

  &__title {
    min-width: rem(200px);
  }
}
