.card-slider-container {
  height: 180px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #eceff1;
  position: relative;

  &__pre-title {
    color: #455b71;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.1px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media screen and (max-width: 576px) {
      width: 85%;
    }
  }
  &__title {
    font-size: 18px;
    color: #1c2024;
    text-align: left;
    height: 65px;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &__span-icons {
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.933333px;
  }
}

.card-icons-rx {
  position: absolute;
  top: 60px;
  right: -10px;
  overflow: visible;
}
.card-icons-sx {
  position: absolute;
  top: 60px;
  left: -10px;
  overflow: visible;
}

.card-slider-mobile {
  @media screen and (max-width: 1200px) {
    overflow-x: unset;
  }
}
