.accordion-container {
  &__borders {
    .collapse-header [data-toggle='collapse'] {
      border-top: none !important;
    }
  }
  &__gray-title {
    .collapse-header [data-toggle="collapse"][aria-expanded="false"] {
      color: #5c6f82 !important;
    }
  }

  &__form-checkbox {
    bottom: 30%;
    right: 2%;
    &--collapsed {
      bottom: 0;
      right: 2%;
      top: 5%;
    }
  }
  &__input-checkbox {
    height: 22px;
    width: 22px;
  }
  &__header-acc {
    font-size: 24px;
  }
  &__accordion-left-icon {
    button {
      margin-top: 5px;
    }
  }
}
