.onboarding {
  &__img-profile {
    width: 174px;
    height: 174px;
  }

  &__icon-container {
    bottom: 5px;
    left: -5px;
    width: 45px !important;
    height: 45px !important;
  }

  &__icon {
    left:6px;
    top: 6px;
  }
}


.container {
  padding-left: 0px;
  margin-top: 10px;
}