.community-card {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &__maxWidthCard {
    max-width: 376px;
  }

  &__line {
    margin: 0;
    width: 90%;
  }

  &__last-comment {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }

  &__picture-comment {
    width: 32px;
    height: 32px;
  }

  &__white-card {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__dots {
    background-color: grey;
    vertical-align: middle;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    display: inline-block;
  }

  &__maxLinesTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__maxLinesParagraph {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
