.table-container {
  .th-auto {
    width: auto;
  }
  .th-small {
    width: 10%;
  }
  .th-medium {
    width: 25%;
  }
  .th-large {
    width: 33%;
  }
  .th-actions {
    width: 15%;
  }
  .th-actions-roles {
    width: 1%;
  }
  &__intestazione {
    padding: 0px 16px !important;
  }
  &__status-label {
    border-radius: 6px;
    padding: 0 8px;
    min-width: auto;
  }
  &__toggle-button {
    margin: 0;
    label {
      input[type='checkbox'] + .lever {
        margin: 5px 0 0;
        float: left;
      }
    }
  }
}
