.notifications-card-container {
    margin-bottom: 53px;

    @media screen and (max-width: 1200px) {
        margin-left: 62px;
    }
}

.notifications-buttons-container {
    margin-bottom: 60px;
}
.notification-btn {
    width: 103px;
    padding: 5px 15px;
}