.document-card-container {
  width: 365px;
  box-shadow: 0px 0px 80px rgba(0, 43, 85, 0.1);
  border-radius: 4px;
  @media screen and (max-width: 576px) {
    box-shadow: 0px 0px 40px rgba(23, 50, 77, 0.08);
    width: 292px;
  }

  &__home-document-card {
    height: 200px;
  }

  &__page-document-card {
    height: 260px;
  }

  &__pre-title {
    color: #455b71;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__title {
    font-size: 24px;
    color: #1c2024;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__description {
    color: #455b71;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &__authority {
    color: #455b71;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__span-icons {
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.933333px;
  }
}
@media screen and (max-width: 767px) {
  .align-cards {
    display: flex;
    justify-content: center;
  }
}
