.chip {
  cursor: default;
  .no-border {
    border: none;
  }
  @media screen and (min-width: 670px) {
    height: auto !important;
  }
}

.chip-label {
  transform: unset !important;
  line-height: rem(15px);
  @media screen and (min-width: 670px) {
    height: auto !important;
  }
}

.chip-disabled {
  border: 1px solid #e6e9f2;
}

.chip.chip-disabled button .icon {
  fill: #5c6f82;
}

.chip:hover:is(.no-border) {
  border-color: transparent;
}
