.chip {
  border: none !important;
  cursor: default;
  @media screen and (min-width: 320px) and (max-width: 991px) {
    height: auto !important ;
  }

  &__chip-height {
    height: 30px !important;
  }
}

.chip-label {
  transform: unset !important;
  line-height: rem(15px);
  @media screen and (min-width: 320px) and (max-width: 991px) {
    height: auto !important ;
  }

  &__chip-height {
    height: 30px !important;
  }
}

.chip-disabled {
  border: 1px solid #e6e9f2;
}

.chip.chip-disabled button .icon {
  fill: #5c6f82;
}

.chip:hover {
  border: none;
}

.not-active-chip {
  color: #596c7d !important;
}
.not-active-chip:hover {
  border: none !important;
}
