/* COLORS */
$colors: (
  'white': #ffffff,
  'black': #000000,
  'blue-100': #d0e2f5,
  'blue-200': #93c4f5,
  'blue-500': #0066cc,
  'blue-900': #01254c,
  'blue-grey': #7c8ea2,
  'grey-050': rgba(235, 236, 237, 0.4),
  'grey-100': #e5e5e5,
  'grey-200': #c2c7cc,
  'grey-400': #cfcfcf,
  'grey-500': #9a9a9a,
  'grey-550': #979797,
  'grey-600': #455b71,
  'grey-900': #222222,
  'progress-bar-grey': #b5bec6,
  'progress-bar-line': #0073e5,
  'blue-active-menu': #0073e6,
);
