@import '../../components/Card/card';
@import '../../components/Form/form';
@import '../../components/Footer/footer';
@import '../../components/Header/header';
@import '../../components/HeaderMenu/headerMenu';
@import '../../components/NotificationHandler/notificationHandler';
@import '../../components/SearchBar/searchBar';
@import '../../components/SearchBox/searchBox';
@import '../../components/SkipContent/skipContent';
@import '../../components/Modals/modals.scss';
@import '../../components/Curtain/curtain.scss';
@import '../../components/DropdownFilter/dropdownFilter.scss';
@import '../../components/Table/table.scss';
@import '../../components/FiltersAside/filtersAside.scss';
@import '../../components/InfoPanel/infoPanel.scss';
@import '../../components/NoResultsFoundCitizen/no-results-found';
@import '../../components/SideSelection/sideSelection.scss';
@import '../../components/ButtonsBar/buttonsBar';
@import '../../components/Rating/rating.scss';
@import '../../components/Loader/loader';
@import '../../components/AccordionRow/accordionRow';
@import '../../components/CardStatusAction/cardStatusAction';
@import '../../components/ProgressBar/progressBar.scss';
@import '../../components/NavLink/navLink';
@import '../../components/SearchBarOptionsCitizen/searchBarOptionsCitizen.scss';
@import '../../pages/administrator/CitizensArea/Entities/SearchCitizenModal/searchCitizenModal';
@import '../../components/InfoCard/infoCard';
@import '../../pages/forms/formPrograms/ProgramAccordionForm/PogramInfoAccordionForm.scss';
@import '../../pages/forms/formProjects/ProjectAccordionForm/projectAccordionForm.scss';
@import '../../pages/administrator/AdministrativeArea/Entities/Surveys/surveyDetailsEdit/components/SurveyQuestion/surveyQuestion.scss';
@import '../../components/EmptySection/emptySection';
@import '../../components/DetailsRow/detailsRow';
