@import "rem";
@import "colors";
@import "helpers";
@import "variables";
@import "typography";
@import "buttons";
@import "chips";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  //font-family: sans-serif !important;
  scroll-behavior: smooth;
  background-color: color("white");
  color: color("black");
  //font-size: $font-size-base;
}

a {
  transition: all 250ms ease;
}

.sticky-body {
  margin-left: -10% !important;
  margin-right: -10% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.cta-buttons{
  position: absolute !important;
  right: 0 !important;
  top: rem(4px) !important;
}