@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: normal;
  src: url('/public/assets/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url('/public/assets/fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url('/public/assets/fonts/TitilliumWeb-Bold.ttf');
}
