.notification-handler-container {
  overflow-y: auto;
  max-height: 100vh;
  min-width: 200px;
  max-width: 30vw;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-notification;
  @media screen and (max-width: 1000px) {
    min-width: 30vw;
    max-width: 50vw;
  }
  @media screen and (max-width: 700px) {
    min-width: 50vw;
    max-width: 60vw;
  }

  .alert {
    pointer-events: all !important;
    background-color: color('white');
    padding-right: 32px;
    transition: all 250ms ease;

    .icon-close {
      cursor: pointer;
      right: 8px;
      top: 8px;
    }
  }
}
