.modal-wrapper {
  pointer-events: none;
  z-index: $z-index-modal;
  width: 60%;
}

.modal-header-container {
  display: flex;
  justify-content: center;
  position: relative;

  .modal-content {
    max-height: 80%;
    min-width: 60%;
    margin-top: 85px;

    @media screen and (min-width: 576px) {
      width: 100%;
    }
  }
}

.user-role-modal {
  min-height: 83%;
  min-width: 60%;
  margin-top: 45px;
}
