---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ${K8S_NAMESPACE}
  name: ms-programma-progetto-deployment
spec:
  selector:
    matchLabels:
        app.kubernetes.io/name: ms-programma-progetto
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ms-programma-progetto
    spec:
      containers:
        - name: ms-programma-progetto
          image: ${ECR_REPOSITORY}:${IMAGE_TAG}
          ports:
            - containerPort: 8080
          imagePullPolicy: Always
          env:
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: urlDB
            - name: DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: usernameDB
            - name: DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: passwordDB
            - name: AWS.APP-ID
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsAppId
            - name: AWS.PINPOINT.ACCESS-KEY
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsPinpointAccessKey
            - name: AWS.PINPOINT.SECRET-KEY
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsPinpointSecretKey
            - name: MONGODB_HOST
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: MONGODB_HOST
            - name: MONGODB_NAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: MONGODB_NAME
            - name: MONGODB_PORT
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: MONGODB_PORT
            - name: DB_MONGO_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: DB_MONGO_USERNAME
            - name: DB_MONGO_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: DB_MONGO_PASSWORD
            - name: AWS.EMAIL.MITTENTE
              valueFrom:
                configMapKeyRef:
                  name: env-${K8S_NAMESPACE}-options
                  key: awsEmailMittente
---
apiVersion: v1
kind: Service
metadata:
  namespace: ${K8S_NAMESPACE}
  name: service-ingress-ms-programma-progetto-${K8S_NAMESPACE}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-scheme: internal
    external-dns.alpha.kubernetes.io/hostname: programmaprogetto.api-${K8S_NAMESPACE}.repubblicadigitale.gov.it
    service.beta.kubernetes.io/aws-load-balancer-name: nlb-ms-programma-progetto-${K8S_NAMESPACE}
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    name: http
    targetPort: 8080
  selector:
    app.kubernetes.io/name: ms-programma-progetto
