apiVersion: apps/v1
kind: Deployment
metadata:
  name: drupal
  namespace: drupal
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: drupal
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: drupal
    spec:
      containers:
        - env:
            - name: DRUPAL_DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: DB_MYSQL-PASSWD
                  name: drupal-configmap
          image: 137642333557.dkr.ecr.eu-central-1.amazonaws.com/drupal:{IMAGE_VERSION}
          imagePullPolicy: Always
          name: drupal
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: "1"
              memory: 3Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/www/html/web/sites/default
              name: drupal-pvc-var-www-html
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 33
      terminationGracePeriodSeconds: 30
      volumes:
        - name: drupal-pvc-var-www-html
          persistentVolumeClaim:
            claimName: drupal-pvc-var-www-html
