/* .user-published-container {
    position: absolute;
    right: 10px;
    top: 0px;
} */

/*
 Lasciato commentato in attesa di conferma sul lavoro svolto 
 riguardanti le logiche attribuite col CLSX al fullLayout
*/
.text-style {
  color: #001a33;
  opacity: 0.7;
  font-weight: 400;
}
