p {
  margin: 0;
}

.footer-container {
  background-color: color('blue-900');
  color: color('white');
  height: $footer-height;

  &__assistance {
    padding-left: 101px;
    line-height: 28px;

    &::before {
      content: '';
      height: 70px;
      width: 1px;
      left: 0;
      background-color: color('blue-grey');
      position: absolute;
      transform: translate(0, 29%);
      margin-left: 20px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &__bottom-text {
    font-size: 14px;
  }

  .h6,
  &__small-text {
    font-weight: 600;
    font-size: 0.8rem;
  }

  &__xs-text {
    font-size: 0.75rem;
  }

  .assistance-column__desktop {
    min-width: 255px;
  }
}

@media (max-width: 1025px) {
  .footer-container {
    height: auto;
    &__assistance {
      padding-left: 0;
      line-height: 28px;

      &::before {
        content: unset;
      }
    }
  }
}
