.footer-container {
  background-color: #003467;
  color: color('white');
  a {
    color: color('white');
  }

  .footer-content {
    min-height: $footer-height;

    &__partner {
      img {
        height: 60px;
        width: auto;

        @media (max-width: 1200px) {
          height: 50px;
        }
      }
      a {
        margin-top: 2rem;
        margin-right: 2rem;
        @media (max-width: 1200px) {
          min-width: calc(50% - 2rem);
        }
        @media (max-width: 767px) {
          margin-top: 1.5rem;
          margin-right: unset;
          width: 100%;
        }
      }
    }

    &__assistenza {
      border-top: 1px solid rgba(color('white'), 0.4);
    }
  }

  .sub-footer-container {
    background-color: #011830;

      @media (max-width: 767px) {
        padding-bottom: 2rem !important;
      a {
        margin-top: 1rem;
      }      }
  }
}

