
.footer_styles {
  background-color: #123262;
  padding-top: 40px;
  padding-bottom: 60px;
}

.image_style {
  max-height: 60px;
  width: auto;
  margin-right: 30px;
  margin-bottom: 15px;
}

.section_style {
  background-color: #061931;
  padding-top: 20px;
  padding-bottom: 20px;
}

.svg_style {
  margin-left: 4px;
  margin-bottom: 5px;
  width: 21px;
  height: 21px;
  fill: none;
  vertical-align: middle;
}

.row_style {
  height: 50px;
  align-items: center;
}

.title_link_footer {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.42857;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 16px;
}

.link_common {
  color: #63D6D1;
  text-decoration: underline;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  line-height: 1.642;
}

.link_style {
  margin-right: 2%;
  font-weight: 400;
}

.link_style:hover {
  text-decoration: underline;
  color: #63D6D1;
}

.link_style_right:hover {
  text-decoration: underline;
  color: #63D6D1;
}

.link_style_right {
  float: right;
  font-weight: 400;
}

.link_label {
  margin-right: 2%;
  font-weight: 600;
}

.link_label:hover {
  text-decoration: underline;
  color: #63D6D1;
}

.border-top-style {
  border-top: 1px solid rgba(color('white'), 0.4);
}

.title_link_footer {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.42857;
  font-weight: 700;
  font-size: 20px;

}

.footer_contact_widget {
  color: #fff;
  padding-top: 16px;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.link_common_assistance {
  color: #fff;
  text-decoration: underline;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  line-height: 1.642;
}

.link_style_assistance:hover {
  text-decoration: underline;
  color: #fff;
}

.link_label {
  margin-right: 2%;
  font-weight: 600;
}

.link_label:hover {
  text-decoration: underline;
  color: #63D6D1;
}
