.notification-handler-container {
  overflow-y: auto;
  max-height: 100vh;
  min-width: 200px;
  max-width: 30vw;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-notification;

  .alert {
    background-color: color('white');
    transition: all 250ms ease;

    .icon-close {
      cursor: pointer;
      right: 8px;
      top: 8px;
    }
  }
}
