.messageList-card-container {
 border-bottom: 1px solid #c2c7cc;
    &__description {
        max-height: 30px;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: nowrap !important;
    }
    &__icon-fill {
        border-radius: 100%;
        background-color: #d1e7ff;
        padding: 9px;
    }
}
