.auth-container {
  min-height: calc(100vh - $footer-height);
  padding: 56px 0;

  &__logo {
    height: 88px;
    width: auto;

    @media screen and (max-width: 576px) {
      max-width: rem(240px);
      max-height: rem(77px);
    }
  }

  &__top-icon-container {
    height: 48px;
    width: 48px;
  }

  &__box {
    .card {
      padding: 56px 56px 64px;
    }

    &__button-group {
      button {
        flex-grow: 1;
        max-width: 275px;
      }
    }
  }
}
