.notifications-list-container {
    border-bottom: 1px solid #c2c7cc;
    &__icon-fill-read {
        border-radius: 100%;
        background-color: #d1e7ff;
    }
    &__name {
        color: #06c;
    }
    &__icon-fill-unread {
        border-radius: 100%;
        background-color: #06c;
    }
    &__more-items {
        flex: auto;
        padding-left: 12px;
    }
    &__text {
        p {
            margin-left: 5px;
        }
    }
    .btn-secondary.dropdown-toggle{
        color: #fff;
        background-color: #fff;
        border-color: #424f5d;
    }
}
