.info-panel {
  margin: 0;

  &__title {
    font-size: 20px;
    color: color('blue-500');
  }

  &__list-container {
    display: grid;
    column-gap: rem(12px);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-flow: row;

    p {
      margin-left: 8px;
      margin-bottom: 0;
    }

    .icon {
      width: 5px;
      height: 5px;
    }

    .section-info-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      ul {
        list-style: none;
        li {
          min-width: 400px;
          padding:  10px 20px 10px 20px;
          
          @media screen and (max-width: 990px) {
            width: 100%;
            min-width: unset;
            max-width: unset;
            
          }
        }
      }
      ul li::before {
        content: '•';
        font-family: sans-serif;
        font-size: 20pt;
        color: #0066cc;
        font-weight: bolder;
        display: inline-block;
        width: 0.5em;
        margin-left: -1em;
        vertical-align: middle;
      }
    }
  }

  &__text-list {
    white-space: break-spaces;
    overflow: visible;
  }
}
