node_modules
build
webpack/*.js
config/*.js
babel.config.js
cypress
@marketto/codice-fiscale-utils/src/interfaces/generator-wrapper.interface.ts
@marketto/codice-fiscale-utils/src/classes/parser.class.ts
@marketto/codice-fiscale-utils/src/classes/validator.class.ts
marketto/codice-fiscale-utils/src/interfaces/generator-wrapper.interface.ts
marketto/codice-fiscale-utils/src/classes/parser.class.ts
marketto/codice-fiscale-utils/src/classes/validator.class.ts