{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "_" },
      { "argsIgnorePattern": "validator.class.ts", "varsIgnorePattern": "**" },
      { "argsIgnorePattern": "parser.class.ts", "varsIgnorePattern": "**" },
      { "argsIgnorePattern": "generator-wrapper.interface.ts", "varsIgnorePattern": "**" }
    ],
    "react/jsx-no-useless-fragment": "error"
  }
}
