.page-title {
  width: 100%;

  &__cta {
    max-height: rem(48px,48px);
    padding: rem(12px,12px);
  }

  @media screen and (max-width: 576px) {
    width: auto;
  }
  .line-height {
    line-height: 1.5;
  }
  .word-spacing {
    word-spacing: 0.15rem;
  }
  .badge-notifications {
    display: flex;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #b62032;
    color: #ffffff;
    align-items: center;
    justify-content: center;
  }
}
