.card-profile-container {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .initials {
    font-size: 24px;
  }

  &__white-card {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__opacity {
    opacity: 0.5;
  }
}
