.search-bar__control {
  border: none !important;
  border-bottom: 1px solid color('grey-200') !important;
  border-radius: 0 !important;
  box-shadow: none !important;

  &--menu-is-open,
  &--is-focused {
    font-size: rem(20px);
  }

  .search-bar__placeholder {
    font-size: rem(20px);
  }

  .search-bar__value-container,
  .search-bar__input-container {
    margin-left: rem(12px);
    box-shadow: none;
  }

  .search-bar__indicator .search-bar__dropdown-indicator {
    padding: 0;
  }

  .close-action {
    border: none;
  }
}

.search-bar__input-container {
  margin-left: rem(12px);
}

.closure {
  border-bottom: rem(1px) solid #979797 !important;
}

.input-search {
  width: 100%;
}

.input-search > .form-control[type='text'] {
  font-weight: 400;
  border: none;
  font-size: rem(18px);
  text-overflow: ellipsis;
}

.input-text-bold > .form-control[type='text'] {
  font-weight: 600;
  font-size: rem(20px);
}

.search-bar-custom {
  &__input-group {
    border-bottom: rem(1px) solid color('grey-550');

    & > div:first-child,
    & > input:first-child,
    .form-control[type='text'] {
      border-bottom: none;
      border-bottom-color: transparent;
    }

    .input-button {
      border-bottom: none;
    }
  }
}

#placeholder-icon {
  position: absolute;
  top: rem(8px);
  z-index: 10;
  left: 0;
}

input:focus + #placeholder-icon {
  display: none;
}
