.no-results-found {
  margin-bottom: rem(51px);
  gap: rem(20px);

  &__icon {
    fill: color('blue-200');
    width: rem(64px);
    height: rem(64px);
  }

  &__title {
    color: color('grey-600');
    font-weight: 400;
  }
}

.no-results-found__first-access {
  padding: rem(28px 43px);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;

  .first-access-title {
    color: color('blue-500');
    font-weight: 600;
    margin-bottom: rem(14px);
  }

  .first-access-subtitle {
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(35px);
  }

  div {
    min-width: 25%;
  }
}

.try-again-search {
  width: 100%;
  margin-bottom: 30px;

  &__error-label {
    text-align: center;
    color: red;
  }
}