.editor-container {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  .wrapper {
    height: 430px;

    display: flex;
    flex-direction: column;
    .toolbar {
      position: relative;
    }
    .editor {
      flex: 1;
      overflow: hidden;
      padding: 5px;
      .rdw-editor {
        max-height: 100% !important;
      }
    }
  }
  .public-DraftStyleDefault-block {
    margin: 0 !important;
  }
}
