.editor-container {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;

  &.has-focus {
    border: 2px solid #f90 !important;
  }

  .wrapper {
    height: 430px;

    display: flex;
    flex-direction: column;
    .toolbar {
      position: relative;
      height: fit-content;
    }
    .toolbar:before {
      background: none;
    }
    .editor {
      flex: 1;
      overflow-y: scroll;
      padding: 5px;
      .rdw-editor {
        max-height: 100% !important;
      }
    }
  }
  .public-DraftStyleDefault-block {
    margin: 0 !important;
  }

  .public-DraftStyleDefault-block, .public-DraftEditor-content {
    &:focus, &:focus:not(.focus--mouse):not([data-focus-mouse=true]) {
      border-color: transparent !important;
      box-shadow: 0 0 0 2px transparent !important;
    }
  }

}
