.header-menu-container {
  margin: auto;
  ul {
    list-style: none;
    height: $header-nav-height;
    width: 100%;
    justify-content: start;

    li {
      margin-right: 32px;
      text-transform: capitalize;

      a {
        text-decoration: none;
      }
    }
  }

  &__tab-bar {
    height: 2px;
  }

  .tab-group-container ul li h6 {
    margin: 16px, 0;
  }
}

.shadow {
  box-shadow: inset 0px 0px 40px 0px #000000;
  position: relative;
}

.dropdown-menu.show {
  height: auto;
}

@media screen and (max-width: 1000px) {
  .header-menu-container {
    ul {
      flex-wrap: wrap;
      height: auto;
      justify-content: space-evenly;
    }
  }
}
