.general-info-accordion-container-project {
  .collapse-body {
    box-shadow: rem(0px) rem(4px) rem(20px) rgba(0, 0, 0, 0.25);
    padding: rem(19px) 0 rem(12px) rem(0px);
  }

  .collapse-div {
    margin-bottom: rem(29px);
  }

  .collapse {
    padding-left: rem(50px);
    padding-bottom: rem(29px);
  }

  @media screen and (max-width: 576px) {
    .collapse {
      width: rem(330px);
      margin: 0;
    }
  }

  @media screen and (max-width: 576px) {
    .collapse-body {
      margin: rem(19px) rem(20px) rem(12px) rem(20px);
      padding-left: rem(23px);
    }
  }
}
