.header-container {
  background-color: #1262b3;
  color: color('white');
  max-height: $header-height;
  width: 100%;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  position: relative;
  z-index: 200;

  &.user-logged {
    max-height: calc($header-height + $header-nav-height);
  }

  &__top {
    display: flex;
    align-items: start;
    background-color: #0066cc;
    height: $header-top-height;
    transition: all 250ms ease;

    .border-left {
      border-left: 0.5px solid #4c8ed1 !important;
    }

    .border-right {
      border-right: 0.5px solid #4c8ed1 !important;
    }

    .header-panel-btn {
      height: $header-top-height;
      border-color: rgba($color: #ffffff, $alpha: 0.3);
      min-width: 180px;
    }

    .header-panel-btn-small {
      button {
        max-width: 96px;
        min-width: unset;
      }
    }

    &__user {
      background-color: color('white');
      flex-grow: 1;
      height: $header-top-height;
      max-width: 409px;
    }

    &__user-dropdown {
      button {
        padding: 0;
        color: #ffffff;
        border: none;
      }
      button:hover {
        border: none;
      }

      &__option {
        cursor: pointer;
      }

      .dropdown-menu {
        width: 351px;
      }
    }
  }

  &__main {
    color: color('grey-500');
    height: $header-main-height;
    transition: all 250ms ease;

    &__logo {
      img {
        height: 74px;
        width: auto;
      }
    }

    &__social {
      min-width: 182px;
      img {
        filter: grayscale(100%);
      }
    }
  }

  &__nav {
    background-color: color('white');
  }

  &__icon-container {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }
}
.user-logged .header-container {
  &__top {
    background-color: color('blue-100');
  }

  &__main {
    color: color('grey-900');
    &__social {
      img {
        filter: grayscale(0%);
      }
    }
  }
}

.badge-notifications {
  position: absolute;
  top: 5px;
  right: 0;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #b62032;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.chat-notifications {
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #b62032;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

//background-image: url($image-path + '/img/logo.png');
